.newForm {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  flex-wrap: wrap;
}
.newForm > * {
  font-family: inherit;
  outline: none;
  border-radius: 1px;
  padding: 8px 16px;
}
.newForm__name {
  border: none;
  background-color: #fff;
  color: #333;
  width: 100%;
  margin-bottom: 10px;
}

.newForm__select {
  border: none;
  background-color: #fff;
  color: #333;
  /* width: 100%; */
  margin-bottom: 10px;
  height: 30px;
}

.newForm__submit {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  /* margin-left: 16px; */
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.newForm__submit-unactive {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  opacity: 0.3;
  margin-left: 16px;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.newForm__submit:hover {
  background-color: #fff;
  color: #ff6b6b;
}

.confirm {
  width: 100%;
}

/* --------------------------- Формма регистрации и логинизации -------------------- */

.form__title {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff;
}
